{% extends "base.html" %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/create.js"></script>
{% endblock %}

{% block title %}
Find a Ride
{% endblock %}

{% block title2 %}
Ride w/ Me | Create a Ride
{% endblock %}


{% block content %}

<div class="profile">
  <div class="profile_image">
    <img src="http://photos-ak.sparkpeople.com/4/8/l486206643.jpg" width="100px">
  </div>
  <div class="profile_data">
    <div>Name</div>
    <div>Boston MA</div>
    <div>20k Points / 403mi / 4 Stars</div>
  </div>
</div>

<div class="images">
  <h2>Connections</h2>
  <div>
    <img src="{{ STATIC_URL }}img/fb.png" width="226">
  </div>
  <div>
    <img src="{{ STATIC_URL }}img/linkedin.png" width="228" style="margin-left: 4px">
  </div>
  <div>
    <img src="{{ STATIC_URL }}img/twitter.png" width="226">
  </div>
</div>

{% if approve %}
<div><a href="/trip/{{ tid }}/approve/{{ uid }}"><button class="btn btn-success ap">Come Ride w/ Me</button></a></div>
<div><a href="/trip/{{ tid }}/reject/{{ uid }}"><button class="btn btn-danger ap">No Thanks</button></a></div>
{% endif %}

{% endblock %}
