{% extends "base.html" %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/create.js"></script>
{% endblock %}

{% block title %}
{{ rider.user.first_name }} {{ rider.user.last_name }} - {{ rider.user.username }}
{% endblock %}

{% block title2 %}
Ride w/ Me | {{ rider.user.first_name }} {{ rider.user.last_name }} ({{ rider.user.username }})
{% endblock %}
{% block content %}

<div class="profile">
  <div class="profile_image">
    <img src="{{photo}}" width="100px">
  </div>
  <div class="profile_data">
    <div><b>{{ rider.user.first_name }} {{ rider.user.last_name }}</b></div>
    <div>Boston, MA</div>
    <div>20k Points / 403mi / 4 Stars</div>
  </div>
</div>

<div class="images">
  <h2>Connections</h2>
  <div>
    <img src="{{ STATIC_URL }}img/fb.png" width="226">
  </div>
  <div>
    <img src="{{ STATIC_URL }}img/linkedin.png" width="228" style="margin-left: 4px">
  </div>
  <div>
    <img src="{{ STATIC_URL }}img/twitter.png" width="226">
  </div>
</div>

{% if approve %}
<div><a href="/trip/{{ tid }}/approve/{{ uid }}"><button class="btn btn-success ap">Come Ride w/ Me</button></a></div>
<div><a href="/trip/{{ tid }}/reject/{{ uid }}"><button class="btn btn-danger ap">No Thanks</button></a></div>
{% endif %}

{% endblock %}
