{% extends "base.html" %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/create.js"></script>
{% endblock %}

{% block title %}
Find a Ride
{% endblock %}

{% block title2 %}
Ride w/ Me | Rewards
{% endblock %}


{% block content %}

<!-- <h3>Most Recent Trip</h3> -->

<!-- <div>
  <div class="triplabeltop">
    Last Trip
  </div>
  <div class="npts">
    {{ recent_trip_points }} pts w/ {{ recent_trip_psg }} {{ recent_trip_s }}
  </div>
  <div class="miles">
    {{ recent_trip.distancef }} mi from Boston MA to Philadelphia PA
  </div>
</div> -->

<div class="badges">
  <div class="badgerow">
    <div class="badgeitem fl">
      <div class="bval">
        Last Trip Points:<br> 425 pts
      </div>
    </div>
    <div class="badgeitem fr">
      <div class="bval">
        Total Pts: <br>39.2k
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>

<br>

<div class="infoholder2">
  <img src="{{ STATIC_URL }}img/ls.png">
  <div style="float: right" class="infoholder br">
    <div class="info">New</div>
    <div class="info">$16</div>
  </div>
  <div style="float: right" class="infoholder">
    <div class="info">Total</div>
    <div class="info">$53</div>
  </div>
  <div class="clear"></div>
</div>
<br>
<button class="btn btn-info btn-large" style="width: 100%">Redeem with Living Social</button>
<br>
<br>
<div class="infoholder2">
    <img src="{{ STATIC_URL }}img/rb.png">
  <div style="float: right" class="infoholder3 br">
    <div class="info">New</div>
    <div class="info">$16</div>
  </div>
  <div style="float: right" class="infoholder3">
    <div class="info">Total</div>
    <div class="info">$93</div>
  </div>
  <div class="clear"></div>
</div>
<br>
<button class="btn btn-info btn-large" style="width: 100%">Redeem with Recycle Bank</button>
<br>
<br>
<div style="text-align: center">
<span class='st_facebook_large'></span>
<span class='st_twitter_large'></span>
<span class='st_email_large'></span>
<span class='st_sharethis_large'></span>
</div>

{% endblock %}
