{% extends "base.html" %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/create.js"></script>
{% endblock %}

{% block title %}
Find a Ride
{% endblock %}

{% block title2 %}
Ride w/ Me | Create a Ride
{% endblock %}


{% block content %}

<h2>Someone's Going Your Way</h2>

{% for trip in trips %}
{% include "triprow.mobile.html" with trip=trip join=1 %}
{% endfor %}

<br>
<h2>Come Ride w/ Me Rewards</h2>
<div id="dollarscontainer">
<table id="dollars">
  <tr><td>You</td><td>25 mpg<sub>e</sub></td><td>$0</td></tr>
  <tr><td>+1</td><td>50 mpg<sub>e</sub></td><td>$10</td></tr>
  <tr><td>+2</td><td>75 mpg<sub>e</sub></td><td>$25</td></tr>
</table>
</div>

<div class="rideform">
  <form method="POST" action="/mobile/do_create">
    {% csrf_token %}
    <input type="hidden" name="start"  value="{{ start }}">
    <input type="hidden" name="end"  value="{{ end }}">
    <input type="hidden" name="datetime"  value="{{ datetime }}">
    <input class="btn btn-danger" type="submit" value="Create My Own Trip">
  </form>
</div>


{% endblock %}
