<div class="row">
  <div class="cityholder">
    <div class="citylabel">From</div>
    <div class="city">{{ trip.start_readable }}</div>
  </div>
  <div class="cityholder">
    <div class="citylabel">To</div>
    <div class="city">{{ trip.end_readable }}</div>
  </div>
  <div class="cityholder">
    <div class="citylabel">On</div>
    <div class="city">{{ trip.formatted_date }}</div>
  </div>
  <div class="extraholder">
    <div class="num clear">
      {{ trip.num_going }}
    </div>
  </div>
  <div class="clear"></div>
  <div class="toggle">
    {% if join %}
    <div class="tglheader"><a href="trip/{{ trip.pk }}/apply">Request to Join</a></div>
    {% endif %}

      <div class="tglheader">Going</div>
    {% for rider in trip.going %}
      <div class="tglrow"> {{ rider.user.username }} <div style="float:right"><a href="/trip/{{ trip.pk }}/remove/{{ rider.user.pk }}">Remove from Trip</a></div></div>
    {% endfor %}
      <div class="tglheader">Pending</div>
    {% for rider in trip.pending %}
      <div class="tglrow"><a href="/mobile/profile?rid={{ rider.user.pk }}&tid={{ trip.pk }}">{{ rider.user.username }}</a> <div style="float: right"><a href="/mobile/approve/{{ rider.pk }}">Ride With Me</a> | <a href="/mobile/reject/{{ rider.pk }}">No Thanks</a></div></div>
    {% endfor %}
    </table>
  </div>
</div>
