<div class="row">
  <div class="cityholder">
    <div class="citylabel">From</div>
    <div class="city">{{ trip.start_readable }}</div>
  </div>
  <div class="cityholder">
    <div class="citylabel">To</div>
    <div class="city">{{ trip.end_readable }}</div>
  </div>
  <div class="cityholder">
    <div class="citylabel">On</div>
    <div class="city">{{ trip.formatted_date }}</div>
  </div>
  <div class="extraholder">
    <div class="num clear">
      5
    </div>
  </div>
  <div class="clear"></div>
</div>
</div>
